:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.active {
  color: darkcyan;
}

.no-active {
  color: darkred;
}

.app {
  font-family: sans-serif;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}
