body {
  color: aliceblue;
}

@media (max-width: 576px) /* Extra Small */ {
  body {
    background-color: brown;
  }

  p {
    font-family: monospace;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: auto;
    gap: 10px;
  }

  .pagina {
    border: 2px solid white;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: "nav" "main" "footer";
    min-height: 100vh;
  }
}

@media (min-width: 576px) /* Small */ {
  body {
    background-color: black;
  }

  p {
    font-family: fantasy;
  }

  h3 {
    color: coral;
  }

  button {
    border-radius: 15px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .pagina {
    border: 2px solid white;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: "nav" "main" "footer";
    min-height: 100vh;
  }
}

@media (min-width: 768px) /* Medium */ {
  h3 {
    color: cornflowerblue;
  }

  button {
    background-color: darkred;
    color: aliceblue;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .pagina {
    grid-template-columns: 1fr 10fr;

    grid-template-areas:
      "nav main"
      "nav main"
      "nav footer";

    min-height: 100vh;
  }
}

@media (min-width: 922px) /* Large */ {
  h3 {
    color: crimson;
  }

  button {
    display: none;
  }

  .container {
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
}

@media (min-width: 1200px) /* Extra Large */ {
  .container {
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
  }
}

.grid {
  display: grid;
}

.grid p {
  background-color: #749c2c;
  color: white;
  padding: 10px;
  margin: 10px;
}

.container {
  display: grid;
}

.container div img {
  width: 100%;
  height: 100%;
}

nav {
  grid-area: nav;
  padding: 10px;
  background-color: #0037a1;
  color: white;
}

main {
  grid-area: main;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #d02a1e;
  color: white;
  padding: 10px;
}

.pagina {
  display: grid;
}
